/*---------------------------------------------------*/
/*---- BASIC SETUP ----*/
/*---------------------------------------------------*/
/* line 4, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 10, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
html {
  background-color: #fff;
  color: #555;
  font-family: 'gyre_regular', 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/*---------------------------------------------------*/
/*---- REUSABLE COMPONENTS ----*/
/*---------------------------------------------------*/
/* line 23, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* ---- HEADINGS ---- */
/* line 30, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
h1 {
  font-size: 300%;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  word-spacing: 4px;
  margin-top: 0;
  margin-bottom: 20px;
}

/* ---- BUTTONS ---- */
/* line 43, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

/* line 54, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.btn-full:link,
.btn-full:visited {
  background-color: #ef3a72;
  border: 1px solid #ef3a72;
  color: #fff;
  margin-right: 15px;
}

/* line 62, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #ef3a72;
  color: #ef3a72;
}

/* line 68, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.btn:hover,
.btn:active {
  background-color: #ec1b5c;
}

/* line 73, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.btn-full:hover,
.btn-full:active {
  background-color: #ec1b5c;
  border: 1px solid #ec1b5c;
  color: #fff;
}

/* line 80, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #ec1b5c;
  color: #fff;
}

/*---------------------------------------------------*/
/*---- HEADER ----*/
/*---------------------------------------------------*/
/* line 90, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
header {
  height: 100vh;
  min-width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

/* ---- COLOR BACKGROUNDS ---- */
/* line 101, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#head2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/orange-splash.jpg);
}

/* line 105, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#head3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/magenta-splash.jpg);
}

/* line 109, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#head4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/blue-splash.jpg);
}

/* line 113, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#head5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/green-splash.jpg);
}

/* line 117, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#head6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/yellow-splash.jpg);
}

/* ---- INDEX VIDEO BACKGROUND ---- */
/* line 123, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#landing-background {
  display: block;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---- -- ---- */
/* line 136, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*---------------------------------------------------*/
/*---- NAV BAR ----*/
/*---------------------------------------------------*/
/* line 148, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.nav-row {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  height: 20vh;
  transition: height 1s;
}

/* ---- LOGO ----*/
/* line 156, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#logo-box {
  display: inline-block;
  margin: 2vh 0;
  height: 200px;
  width: 200px;
  text-align: center;
}

/* line 162, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#logo-box img {
  height: 125px;
  display: inline-block;
  margin: 0;
  padding: 0;
  transition: height 1.2s;
}

/* line 171, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#logo:hover,
#logo:active {
  height: 135px;
}

/* line 176, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#logo-printx {
  color: white;
  font-size: 290%;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  transform: translateY(-20%);
}

/* line 185, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#logo-sol {
  color: white;
  font-size: 75%;
  margin: 0;
  padding: 0;
  transform: translateY(-160%);
}

/* ---- NAV LINKS ----*/
/* line 195, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.main-nav {
  list-style: none;
  display: inline-block;
  float: right;
}

/* line 199, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.main-nav li {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  margin-left: 20px;
  transition: margin 0.4s;
}

/* line 205, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.main-nav li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  text-align: center;
  vertical-align: middle;
  transition: color 0.3s, border-bottom 0.3s;
}

/* ---- STICKY NAV ----*/
/* line 220, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.sticky {
  position: fixed;
  display: block;
  min-width: 100%;
}

/* line 224, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.sticky .nav-row {
  height: 110px;
}

/* line 227, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.sticky #logo-box {
  height: 75px;
}

/* line 230, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.sticky #logo {
  height: inherit;
}

/* line 233, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.sticky .main-nav {
  list-style: none;
  display: inline-block;
  float: right;
}

/* line 238, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.sticky .main-nav li {
  display: inline-block;
  margin-top: 5px;
  padding: 10px;
  margin-left: 20px;
}

/* line 243, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.sticky .main-nav li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  text-align: center;
  vertical-align: middle;
  transition: color 0.3s, border-bottom 0.3s;
}

/* ---- NAV BAR COLORS ---- */
/* Inicio - Gris */
/* Decoracion - Naranja */
/* Premium - Magenta */
/* Id. Corp - Azul */
/* Gran For - Verde */
/* Corte Laser - Amarillo */
/* line 267, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#nav-h-1:hover,
#nav-h-1:active {
  color: #999;
  /*feeab4*/
}

/* line 273, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#nav-h-2:hover,
#nav-h-2:active {
  color: #fbb142;
}

/* line 278, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#nav-h-3:hover,
#nav-h-3:active {
  color: #ef3a72;
}

/* line 283, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#nav-h-4:hover,
#nav-h-4:active {
  color: #2bc0ee;
}

/* line 288, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#nav-h-5:hover,
#nav-h-5:active {
  color: #a1c84f;
}

/* line 293, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#nav-h-6:hover,
#nav-h-6:active {
  color: #fdce47;
}

/* ---- TEMP ELEMENTS ---- */
/* line 300, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.placeholder {
  height: 100vh;
  background: #f4f4f4;
}

/*# sourceMappingURL=input.css.map */