/*---------------------------------------------------*/
/*---- BASIC SETUP ----*/
/*---------------------------------------------------*/
/* line 4, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 10, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
html {
  background-color: #fff;
  color: #555;
  font-family: 'gyre_regular', 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* line 19, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
a {
  text-decoration: none;
}

/* Inicio - Gris */
/* Decoracion - Naranja */
/* Premium - Magenta */
/* Id. Corp - Azul */
/* Gran For - Verde */
/* Corte Laser - Amarillo */
/*---------------------------------------------------*/
/*---- REUSABLE COMPONENTS ----*/
/*---------------------------------------------------*/
/* line 35, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* ---- HEADINGS ---- */
/* line 42, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
h1 {
  font-size: 300%;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  word-spacing: 4px;
  margin-top: 0;
  margin-bottom: 20px;
}

/* ---- BUTTONS ---- */
/* line 55, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

/* line 66, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.btn-full:link,
.btn-full:visited {
  background-color: #ef3a72;
  border: 1px solid #ef3a72;
  color: #fff;
  margin-right: 15px;
}

/* line 74, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #ef3a72;
  color: #ef3a72;
}

/* line 80, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.btn:hover,
.btn:active {
  background-color: #ec1b5c;
}

/* line 85, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.btn-full:hover,
.btn-full:active {
  background-color: #ec1b5c;
  border: 1px solid #ec1b5c;
  color: #fff;
}

/* line 92, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #ec1b5c;
  color: #fff;
}

/*---------------------------------------------------*/
/*---- HEADER ----*/
/*---------------------------------------------------*/
/* line 102, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
header {
  height: 100vh;
  min-width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

/* ---- COLOR BACKGROUNDS ---- */
/* line 113, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#head2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/orange-splash.jpg);
}

/* line 117, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#head3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/magenta-splash.jpg);
}

/* line 121, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#head4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/blue-splash.jpg);
}

/* line 125, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#head5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/green-splash.jpg);
}

/* line 129, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#head6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/yellow-splash.jpg);
}

/* ---- INDEX VIDEO BACKGROUND ---- */
/* line 135, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#landing-background {
  display: block;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---- -- ---- */
/* line 148, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.separador {
  display: block;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: bottom;
}

/* line 156, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.separador .cls-2 #s1 {
  fill: #999;
}

/* line 157, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.separador .cls-2 #s2 {
  fill: #fbb142;
}

/* line 158, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.separador .cls-2 #s3 {
  fill: #ef3a72;
}

/* line 159, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.separador .cls-2 #s4 {
  fill: #2bc0ee;
}

/* line 160, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.separador .cls-2 #s5 {
  fill: #a1c84f;
}

/* line 161, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.separador .cls-2 #s6 {
  fill: #fdce47;
}

/* line 165, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*---------------------------------------------------*/
/*---- NAV BAR ----*/
/*---------------------------------------------------*/
/* line 177, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.nav-row {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  height: 20vh;
  transition: height 1s;
}

/* ---- LOGO ----*/
/* line 185, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#logo-box {
  display: inline-block;
  margin: 2vh 0;
  height: 200px;
  width: 200px;
  text-align: center;
}

/* line 191, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#logo-box img {
  height: 125px;
  display: inline-block;
  margin: 0;
  padding: 0;
  transition: height 1.2s;
}

/* line 200, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#logo:hover,
#logo:active {
  height: 135px;
}

/* line 205, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#logo-printx {
  color: white;
  font-size: 290%;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
  transform: translateY(-20%);
}

/* line 214, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#logo-sol {
  color: white;
  font-size: 75%;
  margin: 0;
  padding: 0;
  transform: translateY(-160%);
}

/* ---- NAV LINKS ----*/
/* line 224, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.main-nav {
  list-style: none;
  display: inline-block;
  float: right;
}

/* line 228, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.main-nav li {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  margin-left: 20px;
  transition: margin 0.4s;
}

/* line 234, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.main-nav li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  text-align: center;
  vertical-align: middle;
  transition: color 0.3s, border-bottom 0.3s;
}

/* ---- STICKY NAV ----*/
/* line 249, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.sticky {
  position: fixed;
  display: block;
  min-width: 100%;
  z-index: 9999;
}

/* line 254, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.sticky .nav-row {
  height: 110px;
  z-index: inherit;
}

/* line 258, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.sticky #logo-box {
  height: 75px;
  z-index: inherit;
}

/* line 262, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.sticky #logo {
  height: 75px;
}

/* line 265, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.sticky .main-nav {
  list-style: none;
  display: inline-block;
  float: right;
}

/* line 270, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.sticky .main-nav li {
  display: inline-block;
  margin-top: 5px;
  padding: 10px;
  margin-left: 20px;
}

/* line 275, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.sticky .main-nav li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  text-align: center;
  vertical-align: middle;
  transition: color 0.3s, border-bottom 0.3s;
}

/* ---- NAV BAR COLORS ---- */
/* line 291, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#nav-h-1:hover,
#nav-h-1:active {
  color: #999;
  /*feeab4*/
}

/* line 297, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#nav-h-2:hover,
#nav-h-2:active {
  color: #fbb142;
}

/* line 303, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#nav-h-3:hover,
#nav-h-3:active {
  color: #ef3a72;
}

/* line 308, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#nav-h-4:hover,
#nav-h-4:active {
  color: #2bc0ee;
}

/* line 313, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#nav-h-5:hover,
#nav-h-5:active {
  color: #a1c84f;
}

/* line 318, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#nav-h-6:hover,
#nav-h-6:active {
  color: #fdce47;
}

/*---------------------------------------------------*/
/*---- FOOTER ----*/
/*---------------------------------------------------*/
/* line 327, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
footer {
  background-color: #5a5a5a;
  padding: 30px 50px;
  font-size: 80%;
}

/* line 332, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
footer p {
  text-align: center;
  margin-top: 20px;
  color: #888;
}

/* line 339, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.footer-nav {
  list-style: none;
  float: left;
}

/* line 344, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.social-links {
  list-style: none;
  float: right;
}

/* line 349, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

/* line 355, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

/* line 360, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

/* line 371, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#fn1:active,
#fn1:hover {
  color: #ef3a72;
}

/* line 376, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#fn2:hover {
  color: #2bc0ee;
}

/* line 380, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#fn3:hover {
  color: #a1c84f;
}

/* line 384, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

/* line 389, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#icon-fb,
#icon-ig,
#icon-tw,
#icon-pt {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

/* line 397, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#icon-fb:hover {
  color: #1877f2;
}

/* line 401, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#icon-ig:hover {
  color: #c32aa3;
}

/* line 405, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#icon-tw:hover {
  color: #1da1f2;
}

/* line 409, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
#icon-pt:hover {
  color: #bd081c;
}

/* ---- TEMP ELEMENTS ---- */
/* line 416, ../../../../../../Cesar Moya/Documents/Werk/PRINTX local/in scss/input.scss */
.placeholder {
  height: 120vh;
  background: #f4f4f4;
}

/*# sourceMappingURL=input.css.map */