/*---------------------------------------------------*/
/*---- BASIC SETUP ----*/
/*---------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*---------------------------------------------------*/
/*---- REUSABLE COMPONENTS ----*/
/*---------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ---- HEADINGS ---- */

h1 {
    font-size: 300%;
    color: #ddd;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-spacing: 4px;
    margin-top: 0;
    margin-bottom: 20px;
}

/* ---- BUTTONS ---- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #ef3a72;
    border: 1px solid #ef3a72;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #ef3a72;
    color: #ef3a72;
}

.btn:hover,
.btn:active {
    background-color: #ec1b5c;
}

.btn-full:hover,
.btn-full:active {
    background-color: #ec1b5c;
    border: 1px solid #ec1b5c;
    color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #ec1b5c;
    color: #fff;
}

/*---------------------------------------------------*/
/*---- HEADER ----*/
/*---------------------------------------------------*/

header {
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.sec-head {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

/* ---- COLOR BACKGROUNDS ---- */

.head2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/orange-splash.jpg);
}

.head3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/magenta-splash.jpg);
}

.head4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/blue-splash.jpg);
}

.head5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/green-splash.jpg);
}

.head6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/yellow-splash.jpg);
}


.papo {
    display: block;
    height: 50vh;
    margin-top: 35.5vh;
    background-image: url(img/papo.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.papo-in {
    height: 50vh;
    background-image: url(img/papo.png), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-position: top;
    background-size: 100% 100%;

}

/* ---- Video background ---- */

#landing-background {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ---- -- ---- */

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 5em;
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

/* ---- NAV BAR ---- */

.main-nav {
    list-style: none;
    display: inline-block;
}

.main-nav li {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 50px;
}

.main-nav li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    text-align: center;
    transition: color 0.3s, border-bottom 0.3s;
}

.main-nav-left {
    float: left;
    margin-top: 15px;
}

.main-nav-left li {
    margin-right: 40px;
}

.main-nav-right {
    float: right;
}

.main-nav-right li {
    margin-left: 40px;
}

.nav-row {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    height: 15vh;
}

/* ---- NAV BAR COLORS ---- */

.nav-h-1:hover,
.nav-h-1:active {
    color: #999;
    /*feeab4*/
}

.nav-h-2:hover,
.nav-h-2:active {
    color: #fa745b;
}
/*fcb14d*/
.nav-h-3:hover,
.nav-h-3:active {
    color: #f84180;
}

.nav-h-4:hover,
.nav-h-4:active {
    color: #4eb8fd;
}

.nav-h-5:hover,
.nav-h-5:active {
    color: #85c14f;
}

.nav-h-6:hover,
.nav-h-6:active {
    color: #fdce47;
}

/* ---- TEMP ELEMENTS ---- */

.placeholder {
    height: 100vh;
    background: #f4f4f4;
}