@font-face {
    font-family: 'gyre_bold';
    src: url('texgyreadventor-bold-webfont.eot');
    src: url('texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreadventor-bold-webfont.woff2') format('woff2'),
         url('texgyreadventor-bold-webfont.woff') format('woff'),
         url('texgyreadventor-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gyre_bold_italic';
    src: url('texgyreadventor-bolditalic-webfont.eot');
    src: url('texgyreadventor-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreadventor-bolditalic-webfont.woff2') format('woff2'),
         url('texgyreadventor-bolditalic-webfont.woff') format('woff'),
         url('texgyreadventor-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gyre_italic';
    src: url('texgyreadventor-italic-webfont.eot');
    src: url('texgyreadventor-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreadventor-italic-webfont.woff2') format('woff2'),
         url('texgyreadventor-italic-webfont.woff') format('woff'),
         url('texgyreadventor-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gyre_regular';
    src: url('texgyreadventor-regular-webfont.eot');
    src: url('texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreadventor-regular-webfont.woff2') format('woff2'),
         url('texgyreadventor-regular-webfont.woff') format('woff'),
         url('texgyreadventor-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}